.gallery {
  display: flex;
  flex-direction: row;
  position: relative;
  .btn {
    position: absolute;
    top: 40%;
    color: white;
    font-size: 4em;
    &:hover {
      color: rgb(49, 47, 47);
    }
  }
  &__btn-next {
    right: 5%;
  }
  &__btn-prev {
    left: 5%;
  }
  .container-img {
    width: 100%;
  }
}
