.container-list {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-top: 20px;
  align-items: center;
  align-items: flex-start;
  div {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;

    button {
      width: 100%;
      height: 52px;
      background: $color-1;
      color: white;
      text-align: left;
      padding-left: 10px;
      border-radius: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: none;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .chevron {
      color: white;
      margin-right: 15px;
      font-size: xx-large;
    }
    p {
      margin-top: 30px;
      width: 80%;
    }
  }
}
