@import "./settings";
@import "./components/header";
@import "./components/navigation";
@import "./components/slider";
@import "./components/notfound";
@import "./components/card";
@import "./components/footer";
@import "./components/appartement";
@import "./components/list";
@import "./components/gallery";
@import "./components/about";
